/node_modules
/package-lock.json
/composer.lock
/jsxbuild
/uploads/**/*.log
/uploads/downloadable/**/*.*
/uploads/thumbnail/**/*.*
/uploads/thesis/**/*.*
/uploads/journal/**/*.*
/public/photo/**/*.*
.env*.local


/src/Views/react/dist